*{
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
#rows{
  margin: 10px;
}
.rela {
  position: relative;
}
.dialog {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #80808087;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  background: #f3f2f2;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
}
.title {
  font-size: 25px;
}
.around {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
}
.btn {
  background: linear-gradient(#f0f0f0, #f0f0f0, #c5bcbc, #f0f0f0);
  border: 1px solid #a09d9d;
  border-radius: 2px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 13px;
  outline: none;
}
.btn:hover {
  font-size: 14px;
  background: linear-gradient(#f0f0f0, #c2b6b6, #f0f0f0);
}
#playAgain {
  display: none;
}
#tools{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#tools p {
  font-size: 20px;
  margin: 10px 0;
}